<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>DB Client</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/tabs.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="js/connection.js" ></script>
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/tabs.js" ></script>
    <script src="js/common.js" ></script>
    <script src="js/history.js"></script>
    <script src="js/create.js"></script>
    <script src="js/read.js" ></script>
    <script src="js/update.js"></script>
    <script src="js/delete.js"></script>
    <script src="js/query.js"></script>
    <script src="js/controller.js"></script>
</head>
<body ng-app="dbClient" ng-controller="dbClientController">
    <div id="left-column">
        <div class="container" id="connection-container">
            <h2>Connection</h2>
            <br>
            <form>
                <input ng-disabled="connected" type="text" ng-model="hostName" placeholder="Host" class="input-field"><br>
                <input ng-disabled="connected" type="text" ng-model="port" placeholder="Port" class="input-field"><br>
                <input ng-disabled="connected" type="text" ng-model="databaseName" placeholder="Database" class="input-field"><br>
                <input ng-disabled="connected" type="text" ng-model="userName" placeholder="User" class="input-field"><br>
                <input ng-disabled="connected" type="password" ng-model="password" placeholder="Password" class="input-field"><br>
                <select ng-disabled="connected" ng-model="databaseType" class="input-field">
                    <option value="" disabled selected>Database type</option>
                    <option value="POSTGRESQL">Postgres SQL</option>
                    <option value="MYSQL">MySQL</option>
                    <option value="MONGODB">MongoDB</option>
                </select>
                <br>
                <button type="submit" class="button-big" ng-click="setConnection()"><span ng-if="!connected">Connect</span><span ng-if="connected">Disconnect</span></button><br>
            </form>
        </div>
    </div>

    <div id="central-column">
        <div class="tabs">
            <ul class="tab-links">
                <li class="active"><a href="#tab-create">Create</a></li>
                <li><a href="#tab-read">Read</a></li>
                <li><a href="#tab-update">Update</a></li>
                <li><a href="#tab-delete">Delete</a></li>
                <li><a href="#tab-query">Query</a></li>
            </ul>

            <div class="tab-content">
                <div id="tab-create" class="tab active">
                    Create
                </div>

                <div id="tab-read" class="tab">
                    <form>
                        <table border="0">
                            <tr>
                                <td><input ng-model="tableName" type="text" class="input-field" placeholder="Table"></td>
                                <td><input ng-model="columnNames" type="text" class="input-field" placeholder="Columns"></td>
                                <td><input type="text" class="input-field" placeholder="Order by"></td>
                                <td><button ng-disabled="!connected" class="button" ng-click="performRead()">Send</button></td>
                            </tr>
                        </table>
                    </form>
                </div>

                <div id="tab-update" class="tab">
                    Update
                </div>

                <div id="tab-delete" class="tab">
                    <form>
                        <input ng-model="tableName" type="text" class="input-field" placeholder="Table" style="width: 20%">
                        <input ng-model="deletePreconditions" type="text" class="input-field" placeholder="Preconditions" style="width: 60%">
                        <button ng-disabled="!connected" class="button" ng-click="performDelete()" style="width: 10%">Send</button>
                    </form>
                </div>

                <div id="tab-query" class="tab">
                    <form>
                        <input ng-model="query" type="text" class="input-field" placeholder="Query" style="width: 60%">
                        <select ng-model="hasResult" class="input-field" style="width: 20%">
                            <option value="" disabled selected>Response type</option>
                            <option value="false">Notification</option>
                            <option value="true">Table records</option>
                        </select>
                        <button ng-disabled="!connected" class="button" ng-click="runQuery()" style="width: 10%">Run</button>

                </div>
            </div>
        </div>
        <div class="response-container">
            <h2>Response</h2>
            <br>

            <table border="1">
                <tr>
                    <th ng-repeat="attribute in attributes">
                        {{attribute.attributeName}}
                    </th>
                </tr>

                <tr ng-repeat="row in rows" ng-class-even="'even'" ng-class-odd="'odd'">
                    <td ng-repeat="value in row.attributes">
                        {{value}}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="right-column">
        <div class="container" id="history-container">
            <h2>History</h2>
            <br>
            <div class="content" id="history-content">
                <span ng-if="history.length == 0">
                    None
                </span>
                <ul class="historyList">
                    <li ng-repeat="historyItem in history">
                        <span ng-if="historyItem.success" class="successFulHistoryItem">{{historyItem.type}}</span>
                        <span ng-if="!historyItem.success" class="unsuccessFulHistoryItem">{{historyItem.type}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>